
* {box-sizing: border-box;}
body{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(94, 140, 172));
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(image.gif);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
     }
     h1 {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-weight: 600px;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
      color: white
    }
    h2 {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-weight: 600px;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
      color: rgb(255, 0, 255);
    }